.layoutContainer {
    margin: 0;
    padding: 0;
    width: 100%;
}
.mainNav {
    padding: 1.5rem 0;
    background: var(--primaryColor);
    width: 100%;
}
.mainNavWrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 75vw;
}
.mainNavLinks {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mainNavLinks a {
    margin: 0 1rem;
    padding-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
}
.mainNavLinks a.active {
    border-bottom: 3px solid var(--actionColor);
}
.siteTitle {
    color: var(--tertiaryColor);
    font-weight: 600;
    text-transform: none;
    letter-spacing: initial;
}
.footer {
    background: var(--secondaryColor);
    color: var(--neutralWhite);
}
.footerWrapper {
    padding: 3rem 0;
    margin: 0 auto;
    max-width: 75vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.footer .copyContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.footer .footerBio {
    margin-left: 40px;
    max-width: 68%;
}
.footerBio p.finePrint {
    font-size: 0.75rem;
    line-height: 1.5rem;
    opacity: 0.7;
}
.footer .portraitContainer {
    margin-top: 24px;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    /* border: 2px solid var(--neutralWhite); */
}
.footer .portrait {
    width: 120px;
    height: max-content;
    clip-path: circle(50% at 50% 50%);
}
.socialLinks {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.socialLinks .iconContainer {
    margin: 0 0.75rem 0 0;
    width: 44px;
    height: 44px;
    border-radius: 100%;
    background: var(--actionColor);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 150ms ease-in;
}
.socialLinks .iconContainer:hover {
    background: var(--primaryColor);
}
.socialIcon {
    color: var(--primaryColor);
    text-decoration: none; 
}
.socialIcon:hover {
    color: var(--actionColor);
}