:root {
    --spaceSmall: 8px;
    --spaceMid: 12px;
    --spaceRegular: 16px;
    --spaceLarge: 24px;
    --spaceExtraLarge: 32px;
    
    --green: #18a574;
    --greenHover: #158f64;
    --white: #ffffff;
    --lightestGrey: #f5f5f5;
    --lightGrey: #e0e0e0;
    --mediumGrey: #b8b8b8;
    --darkGrey: #636363;
    --darkerGrey: #ed3d3d;
    --black: #333333;

  }
  body {
      color: var(--black);
  }
  a {
      color: var(--green);
      transition: color 150ms ease-in;
  }
  a:hover {
      color: var(--greenHover);
  }
  .finePrint {
      color: var(--mediumGrey);
  }