:root {
    --spaceSmall: 8px;
    --spaceMid: 12px;
    --spaceRegular: 16px;
    --spaceLarge: 24px;
    --spaceExtraLarge: 32px;
    
    --green: #18a574;
    --greenHover: #158f64;
    --white: #ffffff;
    --lightestGrey: #f5f5f5;
    --lightGrey: #e0e0e0;
    --mediumGrey: #b8b8b8;
    --darkGrey: #636363;
    --darkerGrey: #ed3d3d;
    --black: #333333;

    --primaryColor: #0b4744;
    --secondaryColor: #bcb74c;
    --tertiaryColor: #c76a9d;
    --tertiaryColor-0: #f1ebfa;
    --tertiaryColor-dark: #b73e80;

    --neutral: #e6cfbc;

  }
  body {
      font-family: "Open Sans", "Helvetiva", "Arial", sans-serif;
      font-weight: 400;
      font-size: 1.15rem;
      line-height: 2rem;
      background: var(--primaryColor);
      color: var(--white);
      /* color: #e7f1da; */
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", "Open Sans", "Helvetiva", "Arial", sans-serif;
    font-weight: 700;
    line-height: 3rem;
    color: var(--secondaryColor);
}
  a {
      color: var(--tertiaryColor);
      text-decoration: none;
      transition: color 150ms ease-in;
  }
  a:hover {
      color: var(--tertiaryColor-0);
  }